html {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  font-family: Verdana;
}

h2 {
  color: aquamarine;
  font-size: 16px;
}

h3 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  font-family: Verdana;
}

h4 {
  color: gray;
  font-size: 21px;
  font-family: Verdana;
}

.copyright {
  text-align: right;
  font-weight: 100;
}
